openai==1.99.1
langchain==0.3.27
langchain_openai==0.3.28
langchain-community==0.3.27
chromadb==1.0.15
streamlit==1.48.0
sentence-transformers==5.1.0
python-dotenv==1.1.1
pandas==2.3.1
numpy==2.3.2
torch==2.3.0
pydantic==2.7.1
